.content
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.blockOne
{
    display: flex;
    flex-flow: column wrap;
    height: max(100vh, 5rem);
}

.header
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 0 1 0;
    padding: 6vh 0px;
    background-image: url('https://images.pexels.com/photos/5220017/pexels-photo-5220017.jpeg?cs=srgb&dl=pexels-ryutaro-tsukata-5220017.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 99vw auto;
}

.headerText
{
    font-family: Teko;
    font-size: 60px;
    font-weight: bold;
    color: #d0d9d2;
    text-shadow: 0px 0px 5px black,
    0px 0px 20px black,
    5px 5px 40px red;
}

.headerSubText
{
    font-family: Abril Fatface;
    color: #f0b85d;
    font-size: 20px;
    font-style: italic;
}

.headerSubText1
{
    font-size: 17px;
}

.oneBody
{
    padding: 10px 0px;
    background-color: #015d5a;
    width: max(100vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 0 0;
}

.oneText
{
    color: #2e015d;
    font-family: tangerine;
    font-size: 60px;
    font-weight: bold;
}

#powerContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
}

.numbers
{
    color: black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: max(40vw,5rem);
}
p,
p1
{
    font-size: 30px;
}

p
{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

p1
{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 20px;
}