.content
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.blockOne
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: max(15vh,6rem);
    width: max(98vw,6rem);
    flex: 0 1 0;
    border: 5px solid black;
    padding: 6vh 2vw;
    background-image: url('https://github.com/czaplickijakub/QuantumBall/blob/main/photos/galaxy.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.headerText
{
    font-family: Teko;
    font-size: 60px;
    font-weight: bold;
    color: #d0d9d2;
    text-shadow: 0px 0px 5px black,
    0px 0px 20px black,
    5px 5px 40px red;
}

.headerSubText
{
    font-family: Abril Fatface;
    color: #f0b85d;
    font-size: 20px;
    font-style: italic;
}

.headerSubText1
{
    font-size: 17px;
}

.oneText
{
    color: #24093b;
    font-family: tangerine;
    font-size: 60px;
    font-weight: bold;
}